PORT=6060
ADMIN_USER=your_admin_user
ADMIN_PASSWORD_HASH=your_password_hash
JWT_SECRET=your_jwt_super_secret

# Local (fora do Docker)
DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_db_name?schema=public"

# Dentro do Docker (troque localhost por postgres)
# DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@postgres:5432/your_db_name?schema=public"

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db_name
POSTGRES_PORT=5432