DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_db_name?schema=test"
ADMIN_USER=test_user
ADMIN_TEST_PASSWORD=your_test_password
ADMIN_PASSWORD_HASH=your_password_hash
JWT_SECRET=test-secret